.cursor/workflow-clean-9.json
{"name":"Social Image Render Workflow","nodes":[{"id":"manual-trigger-1","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,320],"parameters":{}},{"id":"set-input-1","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,320],"parameters":{"mode":"raw","jsonOutput":"{\n  \"goal\": \"Create a social image post that explains why clear messaging beats posting everywhere.\"\n}","options":{}}},{"id":"health-check-1","name":"Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[680,320],"parameters":{"method":"GET","url":"https://social-image-template.vercel.app/api/health","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-health-ok-1","name":"If Health OK","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[920,320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"health-failure-1","name":"Health Failure","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,480],"parameters":{"assignments":{"assignments":[{"id":"health-fail-msg","name":"error","type":"string","value":"Service health check failed"},{"id":"health-fail-response","name":"healthResponse","type":"object","value":"={{ $json }}"}]},"options":{}}},{"id":"get-templates-1","name":"Get Templates","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1160,220],"parameters":{"method":"GET","url":"https://social-image-template.vercel.app/api/templates","options":{}},"retryOnFail":true,"maxTries":2},{"id":"ai-choose-fill-1","name":"AI Choose + Fill","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1400,180],"parameters":{"promptType":"define","text":"={{ (() => {\n  const source = $('Set Input').item.json || {};\n  const templates = $json.templates || [];\n  const goal = String(source.goal || '').trim();\n  const compactTemplates = templates.map((t) => ({\n    id: t.id || t.templateId || t.slug || null,\n    job: t.job || null,\n    themeVariants: Array.isArray(t.themeVariants) ? t.themeVariants : [],\n    contentDensity: t.contentDensity || null,\n    fields: Array.isArray(t.fields)\n      ? t.fields.map((f) => ({\n          name: f.name || f.key || f.id || null,\n          required: Boolean(f.required),\n          prompt: f.prompt || f.description || null,\n        }))\n      : [],\n  }));\n  const parts = [\n    'You are selecting a social image template and filling its fields.',\n    'Return ONLY valid JSON (no markdown code fences, no extra text).',\n    '',\n    '## Post goal',\n    goal || '(none)',\n    '',\n    '## Available templates (JSON)',\n    JSON.stringify(compactTemplates, null, 2),\n    '',\n    '## Required JSON shape',\n    '{',\n    '  \"templateId\": \"<must match a template id from the list>\",',\n    '  \"themeVariant\": \"<must be one of that template themeVariants>\",',\n    '  \"payload\": { \"<field name>\": \"<value>\", \"...\": \"...\" }',\n    '}',\n    '',\n    '## Rules',\n    '- Pick the single best template for the goal.',\n    '- templateId must exist in the list above.',\n    '- themeVariant must be valid for that template (use the first listed if unsure).',\n    '- payload keys MUST exactly match that template field names.',\n    '- For each field, follow any per-field prompt or description in the template JSON.',\n    '- Fill all required fields.',\n    '- Keep copy concise and social-media ready.',\n  ];\n  return parts.join(String.fromCharCode(10));\n})() }}","messages":{"messageValues":[]},"hasOutputParser":false}},{"id":"gemini-model-1","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1400,360],"parameters":{"modelName":"models/gemini-3.0-flash-preview","options":{"temperature":0.3}}},{"id":"choose-template-1","name":"Choose Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,220],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const aiText = $input.first().json.message?.content ?? $input.first().json.text ?? '';\nconst templatesSource = $('Get Templates').first().json;\nconst templates = Array.isArray(templatesSource.templates) ? templatesSource.templates : [];\nif (!templates.length) {\n  throw new Error('No templates returned from /api/templates');\n}\n\nconst source = $('Set Input').first().json ?? {};\nconst goal = String(source.goal ?? '').trim();\n\nconst cleanJsonText = (text) => {\n  const trimmed = String(text || '').trim();\n  const fenced = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenced) return fenced[1].trim();\n  return trimmed;\n};\n\nlet aiSelection = {};\ntry {\n  const parsed = JSON.parse(cleanJsonText(aiText));\n  if (parsed && typeof parsed === 'object') aiSelection = parsed;\n} catch (error) {\n  aiSelection = {};\n}\n\nconst getTemplateId = (template) => template.id ?? template.templateId ?? template.slug;\nconst templatesById = new Map(templates.map((t) => [String(getTemplateId(t)), t]));\n\nconst requestedId = aiSelection.templateId !== undefined && aiSelection.templateId !== null\n  ? String(aiSelection.templateId)\n  : '';\n\nconst fallbackTemplate = templates[0];\nconst selectedTemplate = templatesById.get(requestedId) ?? fallbackTemplate;\nconst selectedTemplateId = String(getTemplateId(selectedTemplate));\n\nconst variants = Array.isArray(selectedTemplate.themeVariants) ? selectedTemplate.themeVariants : [];\nconst requestedVariant = typeof aiSelection.themeVariant === 'string' ? aiSelection.themeVariant : '';\nconst themeVariant = variants.includes(requestedVariant)\n  ? requestedVariant\n  : (variants[0] ?? requestedVariant ?? 'default');\n\nconst aiPayload = aiSelection.payload && typeof aiSelection.payload === 'object' && !Array.isArray(aiSelection.payload)\n  ? { ...aiSelection.payload }\n  : {};\n\nconst fieldDefs = Array.isArray(selectedTemplate.fields) ? selectedTemplate.fields : [];\nconst payload = {};\n\nfor (const field of fieldDefs) {\n  const key = field.name ?? field.key ?? field.id;\n  if (!key) continue;\n\n  if (aiPayload[key] !== undefined) {\n    payload[key] = aiPayload[key];\n    continue;\n  }\n\n  const lowerKey = String(key).toLowerCase();\n  if (lowerKey.includes('title')) {\n    payload[key] = aiPayload.title ?? (goal ? goal.slice(0, 90) : 'Social post idea');\n    continue;\n  }\n\n  if (lowerKey.includes('subtitle') || lowerKey.includes('tagline')) {\n    payload[key] = aiPayload.subtitle ?? 'Clear message. Better results.';\n    continue;\n  }\n\n  if (lowerKey.includes('text') || lowerKey.includes('body')) {\n    payload[key] = aiPayload.body ?? aiPayload.text ?? goal;\n  }\n}\n\nif (Object.keys(payload).length === 0) {\n  payload.title = aiPayload.title ?? (goal ? goal.slice(0, 90) : 'Social post idea');\n  payload.subtitle = aiPayload.subtitle ?? 'Clear message. Better results.';\n}\n\nreturn [{\n  json: {\n    templateId: selectedTemplateId,\n    themeVariant,\n    payload,\n    selectedTemplate,\n    templatesCount: templates.length,\n    aiRaw: aiText,\n  },\n}];"}},{"id":"validate-payload-1","name":"Validate Payload","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1880,220],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Choose Template').item.json.templateId, \"themeVariant\": $('Choose Template').item.json.themeVariant, \"payload\": $('Choose Template').item.json.payload } }}","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-valid-1","name":"If Valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2120,220],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"render-image-1","name":"Render Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2360,120],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/render","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Choose Template').item.json.templateId, \"themeVariant\": $('Choose Template').item.json.themeVariant, \"payload\": $('Choose Template').item.json.payload } }}","responseFormat":"file","options":{"response":{"response":{"outputPropertyName":"image"}}}},"retryOnFail":true,"maxTries":2},{"id":"correct-payload-1","name":"Correct Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2360,320],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const base = $('Choose Template').item.json;\nconst details = $input.first().json?.error?.details ?? [];\nconst payload = { ...(base.payload ?? {}) };\n\nfor (const [key, value] of Object.entries(payload)) {\n  if (typeof value === 'string' && value.length > 140) {\n    payload[key] = `${value.slice(0, 137)}...`;\n  }\n}\n\nconst requiredKeys = ['title', 'subtitle'];\nfor (const key of requiredKeys) {\n  const missing = payload[key] === undefined || payload[key] === null || payload[key] === '';\n  if (missing) {\n    payload[key] = key === 'title' ? 'Untitled idea' : 'Auto-generated subtitle';\n  }\n}\n\nif (Object.keys(payload).length === 0) {\n  payload.title = 'Untitled idea';\n  payload.subtitle = 'Auto-generated subtitle';\n}\n\nreturn [{\n  json: {\n    templateId: base.templateId,\n    themeVariant: base.themeVariant,\n    payload,\n    correctionReason: details,\n  },\n}];"}},{"id":"validate-retry-1","name":"Validate Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2600,320],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Correct Payload').item.json.templateId, \"themeVariant\": $('Correct Payload').item.json.themeVariant, \"payload\": $('Correct Payload').item.json.payload } }}","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-retry-valid-1","name":"If Retry Valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2840,320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"render-image-retry-1","name":"Render Image Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3080,240],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/render","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Correct Payload').item.json.templateId, \"themeVariant\": $('Correct Payload').item.json.themeVariant, \"payload\": $('Correct Payload').item.json.payload } }}","responseFormat":"file","options":{"response":{"response":{"outputPropertyName":"image"}}}},"retryOnFail":true,"maxTries":2},{"id":"validation-failed-1","name":"Validation Failed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3080,400],"parameters":{"assignments":{"assignments":[{"id":"val-fail-msg","name":"error","type":"string","value":"Validation failed after retry"},{"id":"val-fail-details","name":"details","type":"object","value":"={{ $json.error ?? $json }}"}]},"options":{}}},{"id":"render-output-1","name":"Render Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3320,180],"parameters":{"assignments":{"assignments":[{"id":"render-status","name":"status","type":"string","value":"rendered"},{"id":"render-template","name":"templateId","type":"string","value":"={{ $('Choose Template').item.json.templateId }}"},{"id":"render-theme","name":"themeVariant","type":"string","value":"={{ $('Choose Template').item.json.themeVariant }}"}]},"includeOtherFields":true,"options":{}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"Health Check","type":"main","index":0}]]},"Health Check":{"main":[[{"node":"If Health OK","type":"main","index":0}]]},"If Health OK":{"main":[[{"node":"Get Templates","type":"main","index":0}],[{"node":"Health Failure","type":"main","index":0}]]},"Get Templates":{"main":[[{"node":"AI Choose + Fill","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Choose + Fill","type":"ai_languageModel","index":0}]]},"AI Choose + Fill":{"main":[[{"node":"Choose Template","type":"main","index":0}]]},"Choose Template":{"main":[[{"node":"Validate Payload","type":"main","index":0}]]},"Validate Payload":{"main":[[{"node":"If Valid","type":"main","index":0}]]},"If Valid":{"main":[[{"node":"Render Image","type":"main","index":0}],[{"node":"Correct Payload","type":"main","index":0}]]},"Correct Payload":{"main":[[{"node":"Validate Retry","type":"main","index":0}]]},"Validate Retry":{"main":[[{"node":"If Retry Valid","type":"main","index":0}]]},"If Retry Valid":{"main":[[{"node":"Render Image Retry","type":"main","index":0}],[{"node":"Validation Failed","type":"main","index":0}]]},"Render Image":{"main":[[{"node":"Render Output","type":"main","index":0}]]},"Render Image Retry":{"main":[[{"node":"Render Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}}