workflows/simple-manual-workflow.json
{
	"name": "Simple Manual Workflow",
	"nodes": [
		{
			"parameters": {},
			"id": "manual-trigger",
			"name": "When clicking 'Execute workflow'",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "greeting-id",
							"name": "greeting",
							"value": "Hello from n8n!",
							"type": "string"
						},
						{
							"id": "time-id",
							"name": "timestamp",
							"value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"id": "set-node",
			"name": "Set Data",
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [460, 300]
		},
		{
			"parameters": {
				"jsCode": "// Process the input data\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    processed: true,\n    note: 'This was processed by a Code node'\n  }\n}));"
			},
			"id": "code-node",
			"name": "Code",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [680, 300]
		}
	],
	"connections": {
		"When clicking 'Execute workflow'": {
			"main": [
				[
					{
						"node": "Set Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Data": {
			"main": [
				[
					{
						"node": "Code",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"meta": {
		"templateCredsSetupCompleted": true
	},
	"active": false
}
