workflows/social-image-render-workflow.json
{"name":"Social Image Render Workflow","nodes":[{"id":"manual-trigger-1","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,320],"parameters":{}},{"id":"set-input-1","name":"Set Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,320],"parameters":{"mode":"raw","jsonOutput":"{\n  \"preset\": \"quote-card\",\n  \"goal\": \"\"\n}","options":{}}},{"id":"health-check-1","name":"Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[680,320],"parameters":{"method":"GET","url":"https://social-image-template.vercel.app/api/health","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-health-ok-1","name":"If Health OK","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[920,320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"health-failure-1","name":"Health Failure","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,480],"parameters":{"assignments":{"assignments":[{"id":"health-fail-msg","name":"error","type":"string","value":"Service health check failed"},{"id":"health-fail-response","name":"healthResponse","type":"object","value":"={{ $json }}"}]},"options":{}}},{"id":"get-templates-1","name":"Get Templates","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1160,220],"parameters":{"method":"GET","url":"https://social-image-template.vercel.app/api/templates","options":{}},"retryOnFail":true,"maxTries":2},{"id":"build-llm-prompt-1","name":"Build LLM Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,220],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const templatesResponse = $input.first().json;\nconst templates = Array.isArray(templatesResponse.templates) ? templatesResponse.templates : [];\nconst goal = String(($('Prepare Test Input').first().json || {}).goal || '').trim();\n\nconst compactTemplates = templates.map((t) => ({\n  id: t.id ?? t.templateId ?? t.slug ?? null,\n  job: t.job ?? null,\n  themeVariants: Array.isArray(t.themeVariants) ? t.themeVariants : [],\n  contentDensity: t.contentDensity ?? null,\n  fieldDefinitions: Array.isArray(t.fieldDefinitions)\n    ? t.fieldDefinitions.map((f) => ({\n        key: f.key ?? f.name ?? null,\n        required: Boolean(f.required),\n        description: f.description ?? null,\n      }))\n    : [],\n  fields: Array.isArray(t.fields)\n    ? t.fields.map((f) => ({\n        name: f.name ?? f.key ?? f.id ?? null,\n        required: Boolean(f.required),\n        prompt: f.prompt ?? f.description ?? null,\n      }))\n    : [],\n}));\n\nconst lines = [\n  'You are selecting a social image template and filling its fields.',\n  'Return ONLY valid JSON (no markdown code fences, no extra text).',\n  '',\n  '## Post goal',\n  goal || '(none)',\n  '',\n  '## Available templates (JSON)',\n  JSON.stringify(compactTemplates, null, 2),\n  '',\n  '## Required JSON shape',\n  '{',\n  '  \"templateId\": \"<must match a template id from the list>\",',\n  '  \"themeVariant\": \"<must be one of that template themeVariants>\",',\n  '  \"payload\": { \"<field key from fieldDefinitions>\": \"<value>\", \"...\": \"...\" }',\n  '}',\n  '',\n  '## Rules',\n  '- Pick the single best template for the goal.',\n  '- templateId must exist in the list above.',\n  '- themeVariant must be valid for that template (use the first listed if unsure).',\n  '- Payload keys MUST match fieldDefinitions[].key for that template (e.g. myth, truth).',\n  '- Example: myth-truth uses keys myth and truth — not title/subtitle.',\n  '- For each field, follow any description in fieldDefinitions.',\n  '- Fill all required fields.',\n  '- Keep copy concise and social-media ready.',\n];\n\nreturn [{ json: { prompt: lines.join(String.fromCharCode(10)) } }];"}},{"id":"ai-choose-fill-1","name":"AI Choose + Fill","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1520,180],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","hasOutputParser":false}},{"id":"gemini-model-1","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1400,360],"parameters":{"modelName":"models/gemini-3.0-flash-preview","options":{"temperature":0.3}},"credentials":{"googlePalmApi":{"id":"OsBeL6mBV8uxXEz2","name":"Google Gemini(PaLM) Api account"}}},{"id":"choose-template-1","name":"Choose Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,220],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Fragment for review — will be embedded in social-image-render-workflow.json Choose Template node\nconst inputJsons = $input.all().map((item) => item.json ?? {});\nconst chainOut =\n\tinputJsons.find(\n\t\t(j) =>\n\t\t\tj &&\n\t\t\t((typeof j.text === 'string' && j.text.trim() !== '') ||\n\t\t\t\t(typeof j.message?.content === 'string' && j.message.content.trim() !== '')),\n\t) ??\n\tinputJsons.find((j) => j && j.templateId && j.payload && typeof j.payload === 'object') ??\n\tinputJsons[0] ??\n\t{};\n\nconst aiText = String(\n\tchainOut?.message?.content ??\n\t\tchainOut?.text ??\n\t\t(Array.isArray(chainOut?.data)\n\t\t\t? chainOut.data\n\t\t\t\t\t.map((x) => (typeof x === 'string' ? x : typeof x === 'object' ? JSON.stringify(x) : String(x)))\n\t\t\t\t\t.join('\\n')\n\t\t\t: '') ??\n\t\t'',\n);\n\nconst templatesSource = $('Get Templates').first().json;\nconst templates = Array.isArray(templatesSource.templates) ? templatesSource.templates : [];\nif (!templates.length) {\n\tthrow new Error('No templates returned from /api/templates');\n}\n\nconst source = $('Prepare Test Input').first().json ?? {};\nconst goal = String(source.goal ?? '').trim();\n\nconst cleanJsonText = (text) => {\n\tconst trimmed = String(text || '').trim();\n\tconst fenced = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n\tif (fenced) return fenced[1].trim();\n\treturn trimmed;\n};\n\nlet aiSelection = {};\nif (\n\tchainOut &&\n\ttypeof chainOut.templateId === 'string' &&\n\tchainOut.payload &&\n\ttypeof chainOut.payload === 'object' &&\n\t!Array.isArray(chainOut.payload)\n) {\n\taiSelection = {\n\t\ttemplateId: chainOut.templateId,\n\t\tthemeVariant: chainOut.themeVariant,\n\t\tpayload: chainOut.payload,\n\t};\n} else {\n\ttry {\n\t\tconst parsed = JSON.parse(cleanJsonText(aiText));\n\t\tif (parsed && typeof parsed === 'object') aiSelection = parsed;\n\t} catch (error) {\n\t\taiSelection = {};\n\t}\n}\n\nconst getTemplateId = (template) => template.id ?? template.templateId ?? template.slug;\nconst templatesById = new Map(templates.map((t) => [String(getTemplateId(t)), t]));\n\nconst requestedId =\n\taiSelection.templateId !== undefined && aiSelection.templateId !== null\n\t\t? String(aiSelection.templateId)\n\t\t: '';\n\nconst fallbackTemplate = templates[0];\nconst selectedTemplate = templatesById.get(requestedId) ?? fallbackTemplate;\nconst selectedTemplateId = String(getTemplateId(selectedTemplate));\n\nconst variants = Array.isArray(selectedTemplate.themeVariants) ? selectedTemplate.themeVariants : [];\nconst requestedVariant = typeof aiSelection.themeVariant === 'string' ? aiSelection.themeVariant : '';\nconst themeVariant = variants.includes(requestedVariant)\n\t? requestedVariant\n\t: (variants[0] ?? requestedVariant ?? 'default');\n\nconst aiPayload =\n\taiSelection.payload && typeof aiSelection.payload === 'object' && !Array.isArray(aiSelection.payload)\n\t\t? { ...aiSelection.payload }\n\t\t: {};\n\nconst aiPayloadByLower = {};\nfor (const [k, v] of Object.entries(aiPayload)) {\n\taiPayloadByLower[String(k).toLowerCase()] = v;\n}\n\nconst fieldDefsRaw = Array.isArray(selectedTemplate.fieldDefinitions)\n\t? selectedTemplate.fieldDefinitions\n\t: Array.isArray(selectedTemplate.fields)\n\t\t? selectedTemplate.fields\n\t\t: [];\n\nconst fieldKeys = fieldDefsRaw.map((f) => f.key ?? f.name ?? f.id).filter(Boolean);\n\nconst payload = {};\n\nconst str = (v) => (v === undefined || v === null ? '' : String(v));\n\nfor (const field of fieldDefsRaw) {\n\tconst key = field.key ?? field.name ?? field.id;\n\tif (!key) continue;\n\n\tconst lowerField = String(key).toLowerCase();\n\tconst fromAi = aiPayload[key] ?? aiPayloadByLower[lowerField];\n\n\tif (fromAi !== undefined && fromAi !== null && str(fromAi).trim() !== '') {\n\t\tpayload[key] = fromAi;\n\t\tcontinue;\n\t}\n\n\tconst lowerKey = String(key).toLowerCase();\n\tif (lowerKey.includes('title')) {\n\t\tpayload[key] = aiPayload.title ?? (goal ? goal.slice(0, 90) : 'Social post idea');\n\t\tcontinue;\n\t}\n\tif (lowerKey.includes('subtitle') || lowerKey.includes('tagline')) {\n\t\tpayload[key] = aiPayload.subtitle ?? 'Clear message. Better results.';\n\t\tcontinue;\n\t}\n\tif (lowerKey.includes('myth') || lowerKey.includes('misconception')) {\n\t\tpayload[key] =\n\t\t\taiPayload.myth ?? aiPayloadByLower.myth ?? aiPayload.title ?? (goal ? goal.slice(0, 90) : 'Common misconception');\n\t\tcontinue;\n\t}\n\tif (lowerKey.includes('truth') || lowerKey.includes('reality') || lowerKey.includes('insight')) {\n\t\tpayload[key] =\n\t\t\taiPayload.truth ?? aiPayloadByLower.truth ?? aiPayload.subtitle ?? 'Clear message. Better results.';\n\t\tcontinue;\n\t}\n\tif (lowerKey.includes('text') || lowerKey.includes('body')) {\n\t\tpayload[key] = aiPayload.body ?? aiPayload.text ?? goal;\n\t}\n}\n\nconst genericPool = [\n\taiPayload.title,\n\taiPayload.subtitle,\n\taiPayload.headline,\n\taiPayload.tagline,\n\taiPayload.body,\n\taiPayload.text,\n\taiPayload.myth,\n\taiPayload.truth,\n].filter((v) => v !== undefined && v !== null && str(v).trim() !== '');\n\nlet gi = 0;\nfor (const key of fieldKeys) {\n\tconst missing = payload[key] === undefined || payload[key] === null || str(payload[key]).trim() === '';\n\tif (missing && gi < genericPool.length) {\n\t\tpayload[key] = genericPool[gi];\n\t\tgi += 1;\n\t}\n}\n\nfor (const key of fieldKeys) {\n\tconst missing = payload[key] === undefined || payload[key] === null || str(payload[key]).trim() === '';\n\tif (missing) {\n\t\tpayload[key] = goal ? goal.slice(0, 120) : '—';\n\t}\n}\n\nif (Object.keys(payload).length === 0 && fieldKeys.length && Object.keys(aiPayload).length > 0) {\n\tfor (const key of fieldKeys) {\n\t\tconst v = aiPayload[key] ?? aiPayloadByLower[String(key).toLowerCase()];\n\t\tif (v !== undefined && v !== null && str(v).trim() !== '') payload[key] = v;\n\t}\n}\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\ttemplateId: selectedTemplateId,\n\t\t\tthemeVariant,\n\t\t\tpayload,\n\t\t\tselectedTemplate,\n\t\t\ttemplatesCount: templates.length,\n\t\t\taiRaw: aiText,\n    inputPreset: source.preset ?? null,\n\t\t},\n\t},\n];\n"}},{"id":"validate-payload-1","name":"Validate Payload","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1880,220],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Choose Template').item.json.templateId, \"themeVariant\": $('Choose Template').item.json.themeVariant, \"payload\": $('Choose Template').item.json.payload } }}","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-valid-1","name":"If Valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2120,220],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"render-image-1","name":"Render Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2360,120],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/render","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Choose Template').item.json.templateId, \"themeVariant\": $('Choose Template').item.json.themeVariant, \"payload\": $('Choose Template').item.json.payload } }}","responseFormat":"file","options":{"response":{"response":{"outputPropertyName":"image"}}}},"retryOnFail":true,"maxTries":2},{"id":"correct-payload-1","name":"Correct Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2360,320],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const base = $('Choose Template').item.json;\nconst details = $input.first().json?.error?.details ?? [];\nconst payload = { ...(base.payload ?? {}) };\nconst st = base.selectedTemplate ?? {};\nconst rawFields = Array.isArray(st.fieldDefinitions)\n  ? st.fieldDefinitions\n  : Array.isArray(st.fields)\n    ? st.fields\n    : [];\nconst fieldKeys = rawFields.length\n  ? rawFields.map((f) => f.key ?? f.name ?? f.id).filter(Boolean)\n  : ['title', 'subtitle'];\n\nfor (const [key, value] of Object.entries(payload)) {\n  if (typeof value === 'string' && value.length > 140) {\n    payload[key] = `${value.slice(0, 137)}...`;\n  }\n}\n\nfor (const key of fieldKeys) {\n  const missing = payload[key] === undefined || payload[key] === null || payload[key] === '';\n  if (missing) {\n    payload[key] = key.toLowerCase().includes('title') || key.toLowerCase().includes('myth')\n      ? 'Untitled idea'\n      : 'Auto-generated line';\n  }\n}\n\nif (Object.keys(payload).length === 0 && fieldKeys.length) {\n  for (let i = 0; i < fieldKeys.length; i++) {\n    payload[fieldKeys[i]] = i === 0 ? 'Untitled idea' : 'Auto-generated line';\n  }\n}\n\nreturn [{\n  json: {\n    templateId: base.templateId,\n    themeVariant: base.themeVariant,\n    payload,\n    correctionReason: details,\n  },\n}];"}},{"id":"validate-retry-1","name":"Validate Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2600,320],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/validate","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Correct Payload').item.json.templateId, \"themeVariant\": $('Correct Payload').item.json.themeVariant, \"payload\": $('Correct Payload').item.json.payload } }}","options":{}},"retryOnFail":true,"maxTries":2},{"id":"if-retry-valid-1","name":"If Retry Valid","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2840,320],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.ok }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}]}}},{"id":"render-image-retry-1","name":"Render Image Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3080,240],"parameters":{"method":"POST","url":"https://social-image-template.vercel.app/api/render","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"templateId\": $('Correct Payload').item.json.templateId, \"themeVariant\": $('Correct Payload').item.json.themeVariant, \"payload\": $('Correct Payload').item.json.payload } }}","responseFormat":"file","options":{"response":{"response":{"outputPropertyName":"image"}}}},"retryOnFail":true,"maxTries":2},{"id":"validation-failed-1","name":"Validation Failed","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3080,400],"parameters":{"assignments":{"assignments":[{"id":"val-fail-msg","name":"error","type":"string","value":"Validation failed after retry"},{"id":"val-fail-details","name":"details","type":"object","value":"={{ $json.error ?? $json }}"}]},"options":{}}},{"id":"render-output-1","name":"Render Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3320,180],"parameters":{"assignments":{"assignments":[{"id":"render-status","name":"status","type":"string","value":"rendered"},{"id":"render-template","name":"templateId","type":"string","value":"={{ $('Choose Template').item.json.templateId }}"},{"id":"render-theme","name":"themeVariant","type":"string","value":"={{ $('Choose Template').item.json.themeVariant }}"},{"id":"render-preset","name":"inputPreset","type":"string","value":"={{ $('Prepare Test Input').item.json.preset }}"}]},"includeOtherFields":true,"options":{}}},{"id":"prepare-test-input-1","name":"Prepare Test Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,320],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const raw = $input.first().json ?? {};\nconst preset = String(raw.preset ?? 'myth-truth').trim().toLowerCase().replace(/\\s+/g, '-');\nconst customGoal = String(raw.goal ?? '').trim();\n\nconst PRESETS = {\n  'myth-truth': 'Create a social image that contrasts a myth about posting everywhere with the truth that one clear message beats noise everywhere.',\n  'quote-card': 'Create a quote-card image with a punchy line about consistency and focus beating scattered hustle.',\n  'hook-cover': 'Create a bold hook-cover image that stops the scroll and promises clarity over posting on every platform.',\n  'educational': 'Create an educational slide that compresses why one channel with clear messaging beats thin posts across ten channels.',\n  'problem-solution': 'Create a problem–solution image: the pain of being everywhere vs the relief of one sharp message.',\n  'image-bullets': 'Create an image with 3 short bullets on focused messaging vs posting everywhere.',\n  'proof-card': 'Create a proof-card style image with one credible stat or claim about message clarity and channel focus.',\n  'custom': customGoal,\n};\n\nlet goal = PRESETS[preset];\nif (preset === 'custom') {\n  goal = customGoal || PRESETS['myth-truth'];\n} else if (!goal) {\n  goal = customGoal || PRESETS['myth-truth'];\n}\n\nreturn [{\n  json: {\n    goal,\n    preset: preset === 'custom' && customGoal ? 'custom' : preset,\n    inputPreset: raw.preset ?? null,\n  },\n}];"}}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Input","type":"main","index":0}]]},"Set Input":{"main":[[{"node":"Prepare Test Input","type":"main","index":0}]]},"Health Check":{"main":[[{"node":"If Health OK","type":"main","index":0}]]},"If Health OK":{"main":[[{"node":"Get Templates","type":"main","index":0}],[{"node":"Health Failure","type":"main","index":0}]]},"Get Templates":{"main":[[{"node":"Build LLM Prompt","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Choose + Fill","type":"ai_languageModel","index":0}]]},"AI Choose + Fill":{"main":[[{"node":"Choose Template","type":"main","index":0}]]},"Choose Template":{"main":[[{"node":"Validate Payload","type":"main","index":0}]]},"Validate Payload":{"main":[[{"node":"If Valid","type":"main","index":0}]]},"If Valid":{"main":[[{"node":"Render Image","type":"main","index":0}],[{"node":"Correct Payload","type":"main","index":0}]]},"Correct Payload":{"main":[[{"node":"Validate Retry","type":"main","index":0}]]},"Validate Retry":{"main":[[{"node":"If Retry Valid","type":"main","index":0}]]},"If Retry Valid":{"main":[[{"node":"Render Image Retry","type":"main","index":0}],[{"node":"Validation Failed","type":"main","index":0}]]},"Render Image":{"main":[[{"node":"Render Output","type":"main","index":0}]]},"Render Image Retry":{"main":[[{"node":"Render Output","type":"main","index":0}]]},"Build LLM Prompt":{"main":[[{"node":"AI Choose + Fill","type":"main","index":0}]]},"Prepare Test Input":{"main":[[{"node":"Health Check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false}}